# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
test.js

# testing
/coverage

# production
/build

# upload directory
/upload


# misc
.DS_Store

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
